.container{
    background-color: rgb(247, 247, 247);
    border-radius: 8px;
    margin-top: 5%;
}

.row{
    overflow: hidden;
}

.row .casa:first-child{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 2px dashed black;
}

.row .casa:last-child{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px dashed black;
    border-left: none;
}

.casa{
    border: 2px dashed black;
    border-left: none;
}

.casa img{
    width: 135px;
    height: 135px;
}